
.full-width {
	width: 100%;
}

.fixed-width {
	width: 1000px;
	margin: auto;
}


/* header start */

.header {
	background-color: #fff;
	line-height: 120px;
	height: 121px;
}

	.logo {
		color: #4e5266;
		font-size: 1.75rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		float: left;
	}
	
		.logo span {
			font-size: 1rem;
			color: #585a66;
			border-left: 1px solid #585a66;
			padding-left: 10px;
			margin-left: 10px;
		}
	
	.menu {
		float: right;
	}
	
		.menu a {
			color: #585a66;
			text-decoration: none;
			transition: color 0.3s;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}
		
			.menu a:hover {
				color: #585a66;
				transition:color 0.3s;
			}
		
		.menu i {
			margin-left: 3px;
		}

/* banner start */

.banner {
	background-color: #6b7089;
	text-align: center;
}

	.slider {
		width: 600px;
		height: 600px;
		overflow: hidden;
		float: right;
	}
	
		.slider .bx-wrapper {
			border-width: 0 !important;
		}
	
		.slider ul {
			padding: 0 !important;
			margin:0 !important;
		}
	
		.slider img {
			width: 100%;
		}
	
	.main {
		width: 400px;
		float: left;
	}

		.main * {
			color: #fff;
		}
	
		.main div {
			height: 260px;
			padding: 40px 40px 0 40px;
		}
		.main h2 {
			padding: 20px 0px 0px 0px;
		}
		.main div:nth-child(1) {
			background-color: #4cabb1;
		}
		
		.main div:nth-child(2) {
			background-color: #69c7ad;
		}
			
			.main a, .content a {
				display: block;
				transition: background-color 0.3s;
				text-decoration: none;
				line-height: 50px;
				width: 120px;
				margin: 30px auto 0 auto;
				text-transform: uppercase;
				font-size: 0.85rem;
				border-radius: 25px;
				color: #fff;
			}

			.main a {
				background-color: rgba(255,255,255,0.3);
			}
			
			.main a:hover, .content a:hover {
				transition: background-color 0.3s;
			}
			
			.main a:hover {
				background-color: rgba(255,255,255,0.4);
			}

            .main input[type="submit"]{
                font-family: helvetica;
         		font-weight: bold;
         		background-color: rgb(77, 58, 136);
         		border-radius: 10px;
				font-size:1em;
				margin-bottom: 2px;
            }
            .main .d input[type="submit"]{
                margin: 10px 30px 10px 30px;
				font-size: 1em;
				font-family: helvetica;
				font-weight: bold;
				background-color: rgb(35, 183, 220);
				border-radius: 10px;
				padding: 10px 20px;
            }
			.main .d input[type="submit"]:hover{
                font-family: helvetica;
         		font-weight: bold;
         		background-color: rgb(196, 254, 255);
         		border-radius: 10px;
            }
            .main div label{
                width: 130px;
            }
/* icon start */

.icon {
	background-color: #47ababc5;
	text-align: center;
}

	.icon .fixed-width {
		background-color: #fff;
		padding-top: 50px;
		height: 500px;
	}

	.icon .item {
		margin-top: 42px;
	}
	
		.icon .item div {
			width: calc(33.2% - 100px);
			float: left;
			border-right:1px solid #bbb;
			padding: 50px;
		}
		
		.icon .item div:last-child {
			border-right-width: 0;
		}

			.item i {
				width: 80px;
				line-height: 80px;
				display: block;
				border: 1px solid #999;
				margin: auto;
				border-radius: 50%;
				font-size: 2.5rem;
			}

			.item div:nth-child(1) i {
				color: #AE57A4;
			}
			
			.item div:nth-child(2) i {
				color: #808040;
			}
			
			.item div:nth-child(3) i {
				color: #F00078;
			}

/* banner_b start */
			
.banner_b {
	background-color: #84889f;
	text-align: center;
}

	.banner_b .fixed-width {
		background-color: #fed586;
		padding: 60px 0;
	}

		.banner_b .desktop {
			width: 700px;
			height: 480px;
			margin: auto;
		}
	
		.banner_b .phone {
			display: none;
		}
	
		.banner_b .item {
			background-color: #fff;
			width: 700px;
			height: 480px;
			margin: auto;
		}
		
			.banner_b .item div {
				overflow: hidden;
			}
			
				.banner_b .item div img {
					width: 100%;
				}

				.banner_b .item p {
					margin: 20px 40px;
				}

/* content start */

.content {
	background-color: #69c7acc3;
	text-align: center;
}

	.content .fixed-width {
		background-color: white;
		padding: 60px 0;
	}

		.content .item {
			width: 900px;
			height: 600px;
			margin: 50px auto 0 auto;
			box-shadow: 0 0 8px 3px #999; /* x位移 y位移 模糊 尺寸 顏色 */
		}
		
			.content .item div:nth-child(1) div:nth-child(1) {
				width: 600px;
				height: 300px;
				overflow: hidden;
				float: right;
			}
			
				.content .item div:nth-child(1) div:nth-child(1) img {
					width: 100%;
				}

			.content .item div:nth-child(1) div:nth-child(2) {
				padding: 20px 50px 0 50px;
				width: 200px;
				height: 280px;
				float: left;
			}

			.content .item div:nth-child(2) div:nth-child(1) {
				width: 300px;
				height: 300px;
				overflow: hidden;
				float: left;
			}

				.content .item div:nth-child(2) div:nth-child(1) img {
					width: 100%;
				}

			.content .item div:nth-child(2) div:nth-child(2) {
					padding: 10px 50px 0 50px;
					width: 500px;
					height: 280px;
					float: right;
				}

			.content .item a {
				background-color: #4e5266;
			}
			
			.content .item a:hover {
				background-color: #575b72;
			}

/* notified start */

.notified {
	background-color: #575b72;
	text-align: center;
}
	
	.notified * {
		color: #fff;
	}
	
	.notified .fixed-width {
		background-color: #4cabb1;
		padding: 60px 0;
	}

	.notified form {
		margin-top: 40px;
	}
	
		.notified input {
			color: #000;
			width: 380px;
			line-height: 38px;
			border-radius: 19px 0 0 19px;
			border: 0;
			outline: none;
			text-indent: 22px;
		}

		.notified button {
			width: 120px;
			line-height: 38px;
			border-radius: 0 19px 19px 0;
			box-shadow: 3px 0 5px 1px #777;
			border: 0;
			outline: none;
			text-transform: uppercase;
			background-color: rgba(255,255,255,0);
			transition: background-color 0.3s;
		}
		
		.notified button:hover {
			cursor: pointer;
			background-color: rgba(255,255,255,0.1);
			transition: background-color 0.3s;
		}
		
/* map start */

.map {
	background-color: #575b72;
	text-align: center;
}

	.map .fixed-width {
		padding: 60px 0;
	}

		.map .fixed-width div {
			width: 24.9%;
			float: left;
			border-right: 1px solid #aaa;
			padding: 30px 0;
		}
		
		.map .fixed-width div:last-child {
			border-right-width: 0;
		}

		.map h4 {
			color: #fff;
		}
		
		.map ul  {
			list-style: none;
			padding: 0;
		}
		
			.map li {
				line-height: 2rem;
			}
			
			.map a, .footer a {
				color: #ccc;
				font-size: 0.85rem;
				text-decoration: none;
				border-bottom: 1px dotted #575b72;
				transition: border-bottom-color 0.3s;
			}
			
			.map a:hover, .footer a:hover {
				border-bottom: 1px dotted #ccc;
				transition: border-bottom-color 0.3s;
			}

/* footer start */

.footer {
	background-color: #575b72;
	text-align: center;
	font-size: 0.85rem;
}

	.footer * {
		color: #ccc;
		line-height: 2.5rem;
	}

	.footer .fixed-width {
		padding: 60px 0;
	}

		.footer span {
			margin: 0 20px;
		}
	
		.footer i {
			margin-right: 8px;
		}


        input[type="checkbox"]{
            font-size: 1em;
            font-family: helvetica;
            font-weight: bold;
            width:50px;
            height:20px
         }
         .slider .form input[type="submit"]{
         margin: 10px 30px 10px 30px;
         font-size: 1em;
         font-family: helvetica;
         font-weight: bold;
         background-color: rgb(196, 254, 255);
         border-radius: 10px;
         padding: 10px 20px;
         }
         
         .slider .form input[type="submit"]:hover{
             margin: 10px 30px 10px 30px;
             font-size: 1em;
             font-family: helvetica;
             font-weight: bold;
             background-color: #69c7ad;
             border-radius: 10px;
             padding: 10px 20px;
         
             }
            .slider .form a{
                 margin: 10px 30px 10px 30px;
                 font-size: 1em;
                 font-family: helvetica;
                 font-weight: bold;
                 background-color: rgb(196, 254, 255);
                 border-radius: 10px;
                 padding: 12px 20px;   
                 border: 2px solid black;
                 text-decoration: none;
                 color: black;
             }
             .slider .form a:hover{
                 margin: 10px 30px 10px 30px;
                 font-size: 1em;
                 font-family: helvetica;
                 font-weight: bold;
                 background-color: #69c7ad;
                 border-radius: 10px;
                 padding: 12px 20px;   
                 border: 2px solid black;
                 text-decoration: none;
                 color: black;
             }
         .ps a{
             margin:auto;
             text-align: center;
             float: right;
             padding-right: 10px;
             color:#69c7ad;
             }
         
         input[type="text"]{
             margin: 30px;
             font-size: 1em;
             font-weight: bold;
             box-sizing: border-box;
             padding: 10px 20px;
         }
         .formdiv {
            width:800px; 
            margin-left:auto; 
            margin-right:auto; 
            text-align:center;
            margin-top: 70px;
            padding-top: 70px;
            margin-bottom: 50px;
            border: 10px solid black;
        }
        label  {
            font-size: 1.2em;
            font-family: helvetica;
            color:#86c896;
            font-weight: bold;
        }

















