
.full-width {
	width: 100%;
}

.fixed-width {
	width: 1000px;
	margin: auto;
}


/* header start */

.header {
	background-color: #fff;
	line-height: 120px;
	height: 121px;
}

	.logo {
		color: #4e5266;
		font-size: 1.75rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		float: left;
	}
	
		.logo span {
			font-size: 1rem;
			color: #585a66;
			border-left: 1px solid #585a66;
			padding-left: 10px;
			margin-left: 10px;
		}
	
	.menu {
		float: right;
	}
	
		.menu a {
			color: #585a66;
			text-decoration: none;
			transition: color 0.3s;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}
		
			.menu a:hover {
				color: #585a66;
				transition:color 0.3s;
			}
		
		.menu i {
			margin-left: 3px;
		}

/* banner start */

.banner {
	background-color: #4e5266;
	text-align: center;
}

	.slider {
		width: 600px;
		height: 600px;
		overflow: hidden;
		float: right;
	}
	
		.slider .bx-wrapper {
			border-width: 0 !important;
		}
	
		/* .slider ul {
			padding: 0 !important;
			margin:0 !important;
		}
	 */
		.slider form {
			width: 100%;
            padding-left: 50px;
            padding-top: 100px;
		}
	
	.main {
		width: 400px;
		float: left;
	}

		.main * {
			color: #fff;
		}
	
		.main div {
			height: 260px;
			padding: 40px 40px 0 40px;
		}

		.main div:nth-child(1) {
			background-color: #4cabb1;
		}
		
		.main div:nth-child(2) {
			background-color: #69c7ad;
		}
			
			.main a, .content a {
				display: block;
				transition: background-color 0.3s;
				text-decoration: none;
				line-height: 50px;
				width: 120px;
				margin: 30px auto 0 auto;
				text-transform: uppercase;
				font-size: 0.85rem;
				border-radius: 25px;
				color: #fff;
			}

			.main a {
				background-color: rgba(255,255,255,0.3);
			}
			
			.main a:hover, .content a:hover {
				transition: background-color 0.3s;
			}
			
			.main a:hover {
				background-color: rgba(255,255,255,0.4);
			}

/* icon start */

.icon {
	background-color: #47ababc5;
	text-align: center;
}

	.icon .fixed-width {
		background-color: #fff;
		padding-top: 50px;
		height: 1000px;
	}

	.icon .item {
		margin-top: 42px;
	}
	
		.icon .item div {
			float: center;
			border-top:1px solid #bbb;
            border-bottom:1px solid #bbb;
			padding: 50px;
		}
		
		.icon .item div:last-child {
			border-right-width: 0;
		}

			.item i {
				width: 200px;
				line-height: 80px;
				display: block;
				border: 1px solid #999;
				margin: auto;
				border-radius: 50%;
				font-size: 2.5rem;
			}

			.item div:nth-child(1) i {
				color: #AE57A4;
			}
			
			.item div:nth-child(2) i {
				color: #808040;
			}
			
			.item div:nth-child(3) i {
				color: #F00078;
			}

/* banner_b start */
			
.banner_b {
	background-color: #575b72;
	text-align: center;
}

	.banner_b .fixed-width {
		background-color: #fed586;
		padding: 60px 0;
	}

		.banner_b .desktop {
			width: 700px;
			height: 480px;
			margin: auto;
		}
	
		.banner_b .phone {
			display: none;
		}
	
		.banner_b .item {
			background-color: #fff;
			width: 700px;
			height: 480px;
			margin: auto;
		}
		
			.banner_b .item div {
				overflow: hidden;
			}
			
				.banner_b .item div img {
					width: 100%;
				}

				.banner_b .item p {
					margin: 20px 40px;
				}

		
/* map start */

.map {
	background-color: #575b72;
	text-align: center;
}

	.map .fixed-width {
		padding: 60px 0;
	}

		.map .fixed-width div {
			width: 24.9%;
			float: left;
			border-right: 1px solid #aaa;
			padding: 30px 0;
		}
		
		.map .fixed-width div:last-child {
			border-right-width: 0;
		}

		.map h4 {
			color: #fff;
		}
		
		.map ul  {
			list-style: none;
			padding: 0;
		}
		
			.map li {
				line-height: 2rem;
			}
			
			.map a, .footer a {
				color: #ccc;
				font-size: 0.85rem;
				text-decoration: none;
				border-bottom: 1px dotted #575b72;
				transition: border-bottom-color 0.3s;
			}
			
			.map a:hover, .footer a:hover {
				border-bottom: 1px dotted #ccc;
				transition: border-bottom-color 0.3s;
			}

/* footer start */

.footer {
	background-color: #575b72;
	text-align: center;
	font-size: 0.85rem;
}

	.footer * {
		color: #ccc;
		line-height: 2.5rem;
	}

	.footer .fixed-width {
		padding: 60px 0;
	}

		.footer span {
			margin: 0 20px;
		}
	
		.footer i {
			margin-right: 8px;
		}


        input[type="radio"]{
            margin: 50px;
            font-size: 2em;
            font-family: helvetica;
            font-weight: bold;
            width:20px;
            height:20px
         }
         .form input[type="submit"]{
         margin: 10px 30px 10px 30px;
         font-size: 1em;
         font-family: helvetica;
         font-weight: bold;
         background-color: rgb(196, 254, 255);
         border-radius: 10px;
         padding: 10px 20px;
         }
         
          .form input[type="submit"]:hover{
             margin: 10px 30px 10px 30px;
             font-size: 1em;
             font-family: helvetica;
             font-weight: bold;
             background-color: #69c7ad;
             border-radius: 10px;
             padding: 10px 20px;
         
             }
       .form a{
                 margin: 10px 30px 10px 30px;
                 font-size: 1em;
                 font-family: helvetica;
                 font-weight: bold;
                 background-color: rgb(196, 254, 255);
                 border-radius: 10px;
                 padding: 12px 20px;   
                 border: 2px solid black;
                 text-decoration: none;
                 color: black;
             }
         .form a:hover{
                 margin: 10px 30px 10px 30px;
                 font-size: 1em;
                 font-family: helvetica;
                 font-weight: bold;
                 background-color: #69c7ad;
                 border-radius: 10px;
                 padding: 12px 20px;   
                 border: 2px solid black;
                 text-decoration: none;
                 color: black;
             }
         .ps a{
            margin: 10px 30px 10px 30px;
            font-size: 1em;
            font-family: helvetica;
            font-weight: bold;
            background-color: rgb(196, 254, 255);
            border-radius: 10px;
            padding: 10px 20px;
             }
         
         input[type="text"]{
             margin: 30px;
             font-size: 1em;
             font-weight: bold;
             box-sizing: border-box;
             padding: 10px 20px;
         }
         .formdiv {
            width:200px; 
            margin-left:auto; 
            margin-right:auto; 
            text-align:left;
            margin-top: 70px;
            padding-top: 70px;
            margin-bottom: 50px;
            border: 10px solid black;
        }
        label  {
            font-size: 1.2em;
            font-family: helvetica;
            color:#86c896;
            font-weight: bold;
        }

















